<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/meta.ejs') %>
    <title>Profile - Add</title>
    <!-- My CSS Source Start -->
    <link rel="stylesheet" href="/form.css" />
    <!-- My CSS Source End -->
  </head>
  <body>
    <div class="signup-section" id="2">
      <div class="signup-row">
        <!-- Menu Section -->
        <div class="signup-text">
          <h1>Add Profile</h1>
          <h3> <a class="head_a"href="/dashboard">Dashboard</a> </h3>
          <h3> <a class="head_a"href="/profile">Profile</a> </h3>
          <h3> <a class="head_a"href="/gamehistories">Game Histories</a></h3>
        </div>
        <!-- Form Section -->
        <div class="signup-form">
          <form action="/profile/addProfile/<%= id %>" method="POST">
            <div class="row mb-3">
              <div class="col">
                <label class="sub-text ">Fist Name</label>
                <input class="form-control" type="text", name="firstName"><br>
              </div>
              <div class="col">
                <label class="sub-text">Last Name</label>
                <input class="form-control" type="text", name="lastName"><br>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <label class="sub-text">Birthplace</label>
                <input class="form-control" type="text", name="birthPlace"><br>
              </div>
              <div class="col">
                <label class="sub-text">Birthdate</label>
                <input class="form-control" name="birthDate" type="date"><br/>
              </div>
            </div>
            <div class="mb-4">
              <label class="sub-text">Gender</label>
              <select class="form-control"name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select><br>
            </div>
            <div class="row mb-3">
              <div class="col">
                <button type="submit" class="btn btn-success btn-lg">
                  Submit
                </button>
                <a class="btn btn-warning btn-lg" href="/profile" role="button"
                >Cancel</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
